<ol>
{{#each rsvps as |rsvp|}}

  <section class= 'listings'>
    <li>
      <h6>Event: {{rsvp.listing.listing_name}} </h6>
      <p>Date: {{rsvp.listing.date}} </p>
    </li>
  </section>

{{/each}}
</ol>
