<h3 class="event-title">Select an event to find out more!</h3>
<hr>

{{#each listings as |listing|}}

  <p>
    <a href="" class='show-event' data-id='{{id}}'>
      {{listing_name}}
      {{date}}
    </a>
  </p>

{{/each}}
