<h4 class="event-title">Select to Update or Delete</h4>
<hr>

{{#each listings as |listing|}}
  <div class="list-group-item">
    <h6>
      <a href="" class='show-user-event' data-id='{{id}}'>
        {{listing_name}} - {{location}}
      </a>
    </h6>
  </div>
{{/each}}
